*,
html,
::before,
::after {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.8rem;
  background-color: #edf2f4;
  color: #1d1e29;
}
/* h1,
h2,
h3 {
  font family
} */
h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.6rem;
}
p {
  font-size: 1.8rem;

  /*font family*/
}
#app {
  margin: 0 auto;
  padding: 5rem;
}
.flex-vt-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: center;
  margin-bottom: 3rem;
  border-bottom: dashed 0.2rem #bdbdbd;
  max-width: 100rem;
}
.flex-hz-wrap {
  display: flex;
  gap: 2rem;
}
.global-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: center;
}
.hidden {
  display: none;
}
button {
  border-radius: 0.8rem;
  border: none;
  font-size: 2.4rem;
  padding: 0.75rem 1.75rem;
  transition: all 0.2s;
  width: fit-content;
  cursor: pointer;
  box-shadow: 0.4rem 1rem 4rem rgb(94, 94, 94, 0.6);
  color: #ffffff;
  background-color: #20d170;
}
button:hover,
button:active,
button:focus {
  background-color: #2ba361;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  padding: 1.6rem;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 10px;
  font-size: 2.2rem;
  background-color: #e5eaec;
  box-shadow: 0.4rem 1rem 4rem rgb(94, 94, 94, 0.6);
}
#submit {
  margin: 1rem auto;
  background-color: #dfd153;
  box-shadow: 0.4rem 1rem 4rem rgb(94, 94, 94, 0.6);
  cursor: pointer;
}
#submit:hover {
  background-color: #faa21e;
}
#pizza-form {
  width: max-content;
  padding: 4rem 3rem;
  margin: 0;
  background-color: #e4e7e9;
  align-items: center;
}
.row {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: end;
  padding: 1.2rem 0;
  gap: 4rem;
}
.row-radio {
  padding: 0;
}
.fieldset-default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border: none;
  width: fit-content;
  gap: 0.5rem;
}
.fieldset-default--textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border: none;
  gap: 0.5rem;
  width: 100%;
}
.fieldset-wrap {
  display: flex;
  flex-wrap: wrap;
  border: none;
}
.input-btn {
  margin: 1rem;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.input-btn input[type='radio'] {
  margin-right: 1rem;
}
.input-btn label {
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  line-height: 1.8em;
  background-color: #ced1d3;
  box-shadow: 0.2rem 0.3rem 0.75rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  z-index: 2;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 720px) {
  .fieldset-wrap {
    flex-direction: column;
  }
  .input-btn label {
    margin-bottom: 0;
  }
}
.input-btn input {
  position: absolute;
  opacity: 0;
  z-index: 1;
}
.input-btn input:checked + label {
  background: #f1926c;
}
label,
input,
span {
  font-size: 1.8rem;
}
span {
  color: red;
}
input {
  border-radius: 0.4rem;
  border: thin solid rgb(255, 255, 255);
  padding: 0.5rem 0.75rem;
  color: rgb(94, 94, 94);
}
fieldset::after {
  content: attr(data-msg);
  height: min-content;
  color: red;
  margin: 0;
  font-size: 1.5rem;
  margin-top: 5%;
  position: absolute;
  max-width: 20rem;
}
#comments {
  font-size: 1.8rem;
  padding: 2rem;
  width: 100%;
}
.prices {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.final-prices {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
#price-regular,
#price-tax {
  text-align: center;
  align-self: center;
  justify-self: center;
  margin: auto;
  font-size: 3.2rem;
}
